body {
  padding: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Times New Roman";
}

.bold {
  font-weight: 200;
  text-decoration: underline;
}

#information {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

a {
  text-decoration: none;
}

article {
  padding: 20px;
  border-style: solid;
}
